/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

header {

}

#slider {


  background-color: #E4E4E4;
  position: relative;
  .container{

  }
  .logo {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 75px;
    background-color: rgba(0, 0 , 0, 0.6);
    border-bottom: solid 2px white;

    a {
      color: white;
      }
    .div1 {
      display: inline-block;
      height: 53px;
      margin-top: 12px;
      background: url(../assets/img/logo.png) no-repeat;
      background-position: center;
    }
    .div2 {
      display: inline-block;
      border-radius: 50%;
      border: solid 4px white;
      height: 40px;
      width: 40px;
      margin-top: 16px;
      margin-left: 10px;
      .fa {
        margin-top: 8px;
        margin-left: -2px;
      }
    }
    :hover {
      color: #2a6496;
      border-color: #2a6496;
    }
  }
  .nav {
    position: absolute;
    margin: auto;
    top: 90px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    a {
      margin: auto 10px;
      color: white;
    }
    :hover {
      color: #87B672;
    }
    .active {
      color: #87B672;
    }
  }
}


#description {
  position: relative;
  color: black;
  margin: 70px auto 30px;
  .other {
    position: relative;
  }
  h2 {
    font-weight: 600;
  }
  h2, p {
    margin-bottom: 20px;
  }
  .sale {
    margin-bottom: 20px;
    span {
      background-color: #e3e3e3;
      color: red;
      font-weight: 600;
      padding: 3px 10px;
      margin-right: 50px;
    }
    a {
      background-color: #9ED723;
      border: solid 2px #419D13;
      padding: 5px 60px;
    }
  }
}

#instruction {
  background-color: #E4E4E4;
  color: black;
  .instruction {
    margin: 80px auto;
  }
  h4 {
    font-weight: 600;
    color: black;
  }
  h4, ul, p {
    margin-bottom: 20px;
  }
  .block {
    max-width: 380px;
    padding: 0;
    margin: 0 auto;
    opacity: 1;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 550ms;
    :hover {
      transform: scale(1.4,1.4);
      transition-timing-function: ease-out;
      transition-duration: 550ms;
    }
  }
}

#footer {
  background-color: #333333;
  color: white;
  font-weight: 600;

  .footer {
    text-align: center;
    margin: 20px auto;
  }
 }





@media only screen and  (min-width: 1024px) {
  .other {
    border-left: solid 2px #B1B1B1;
  }
  .carousel-indicators {
    text-align: right;
    top:0;
    margin: 0;
    padding: 0;
    li {
      width: 90px;
      height: 90px;
      border-radius: 0;
      border: none;
    }

    .active {
      width: 90px;
      height: 90px;
      margin: 0;
      padding: 0;
    }


  }
  .instruction {
    .col-md-8 {
      padding-left: 40px;
    }
  }
}

@media only screen and  (max-width: 1023px) {
  #description {
    margin-top: 30px;
    .carousel-inner {
      display: inline-block;
      position: relative;
      img {
        margin: 0 auto;
      }
    }
    .carousel-indicators-1 {
      margin-top: 30px;
    }
    .carousel-indicators {
      display: inline-block;
      position: relative;
      text-align: center;
      left: 0;
      margin-left: 0;
      width: 100%;
      li {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 0;
        border: none;
        text-align: right;
      }

      .active {
        width: 90px;
        height: 90px;
        margin: 0;
        padding: 0;
      }
      img {
        text-indent: 0;
      }
    }
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  #slider {
    .logo {
      .div1 {
        height: 30px;
        margin-top: 23px;
        background-size: cover;
      }
    }
  }

  #description {
    .sale {
      text-align: center;
      span {
        margin: 20px auto;
        display: block;
      }
      a {
        margin: 20px auto;
        display: block;
      }
    }
  }

  .footer {
    .col-xs-12 {
      margin-bottom: 10px;
    }
  }

}


@media only screen and (max-width: 375px) {
  #slider {
    .logo {
      .div1 {
        height: 23px;
        margin-top: 23px;
        background-size: cover;
      }
    }
  }

  #description {
    .sale {
      text-align: center;
      span {
        margin: 20px auto;
        display: block;
      }
      a {
        margin: 20px auto;
        display: block;
      }
    }

    .carousel-indicators {
      width: 70%;
      left: 15%;
    }
  }

  .footer {
    .col-xs-12 {
      margin-bottom: 10px;
    }
  }
}

