/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

#slider {
  display: block;
  position: relative;
  overflow: hidden;
  .logo {
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    z-index: 2;
    height: 75px;
    background-color: rgba(0, 0 , 0, 0.6);
    border-bottom: solid 2px white;
    a {
      color: white;
      }
    .div1 {
      display: block;
      height: 53px;
      margin-top: 12px;
      background: url(../assets/img/logo.png) no-repeat;
      background-position: center;
    }
    .div2 {
      border-radius: 50%;
      border: solid 4px white;
      height: 40px;
      width: 40px;
      margin-top: 16px;
      margin-left: 10px;
      .fa {
        margin-top: 8px;
        margin-left: -2px;
      }
    }
    :hover {
      color: #2a6496;
      border-color: #2a6496;
    }
  }
  .nav {
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    top: 90px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    a {
      margin: auto 10px;
      color: white;
    }
    :hover {
      color: #87B672;
    }
    .active {
      color: #87B672;
    }
  }
}


#description {
  color: black;
  .description {
    margin: 70px auto 30px;
    h2 {
      font-weight: 600;
    }
    h2, p {
      margin-bottom: 20px;
    }
    .sale {
      margin-bottom: 20px;
      span {
        background-color: #e3e3e3;
        color: red;
        font-weight: 600;
        padding: 3px 10px;
        margin-right: 50px;
      }
      a {
        background-color: #9ED723;
        border: solid 2px #419D13;
        padding: 5px 60px;
      }
    }
    .carousel-indicators {
      margin: 0;
      padding: 0;
      .active {
        width: 90px;
        height: 90px;
        margin: 0;
        padding: 0;
      }

    }
  }

}

#instruction {
  background-color: #E4E4E4;
  color: black;
  .instruction {
    margin: 80px auto;
  }
  h4 {
    font-weight: 600;
    color: black;
  }
  h4, ul, p {
    margin-bottom: 20px;
  }
  .block {

    display: block;
    opacity: 1;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 550ms;
    :hover {
      transform: scale(1.4,1.4);
      transition-timing-function: ease-out;
      transition-duration: 550ms;
    }
  }
}

#footer {
  background-color: #333333;
  color: white;
  font-weight: 600;

  .footer {
    text-align: center;
    margin: 20px auto;
  }
 }

@media only screen and (max-width: 375px) {
  #slider {
    .logo {
      .div1 {
        height: 23px;
        margin-top: 23px;
        background-size: cover;
      }
    }
  }

  #description {
    .description {
      .sale {
        text-align: center;
        .sale-span {
          span {
            margin: 20px auto;
            display: block;
          }
        }
        a {
          margin: 20px auto;
          display: block;
        }
      }
    }
  }

}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  #slider {
    .logo {
      .div1 {
        height: 30px;
        margin-top: 23px;
        background-size: cover;
      }
    }
  }

  #description {
    .description {
      .sale {
        text-align: center;
        .sale-span {
          span {
            margin: 20px auto;
            display: block;
          }
        }
        a {
          margin: 20px auto;
          display: block;
        }
      }
    }
  }

}

@media only screen and  (min-width: 1023px) {
  .other {
    border-left: solid 2px #B1B1B1;
  }
  .carousel-indicators-vertical {
    text-align: right;
    top:0;
    li {
      width: 90px;
      height: 90px;
      border-radius: 0;
      border: none;
    }
  }
  .instruction {
    .col-md-8 {
      padding-left: 40px;
    }
  }
}



