/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

#slider {
  display: block;
  position: relative;
  .logo {
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    z-index: 2;
    height: 75px;
    background-color: rgba(0, 0 , 0, 0.6);
    border-bottom: solid 2px white;
    a {
      color: white;
      margin-top: 20px;
      }
    .fa {
      border: solid 4px white;
      border-radius: 50px;
      padding: 10px;
      margin: 15px;
      display: block;
      width: 40px;
      height: 40px;
    }
    :hover {
      color: #2a6496;
      border-color: #2a6496;
    }
  }
  .nav {
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    a {
      margin: auto 10px;
    }
    :hover {
      color: #87B672;
    }
    .active {
      color: #87B672;
    }
  }
}

#description {
  background-color: white;
  color: black;
  .description {
    margin-top: 70px;
    h2 {
      color: black;
      font-weight: 600;
    }
    h2, p {
      margin-bottom: 20px;
    }
    .sale {
      margin-bottom: 20px;
      .sale-span {
        span {
          background-color: #e3e3e3;
          color: red;
          font-weight: 600;
          padding: 3px 10px;
          margin-right: 50px;
        }
      }
      a {
        background-color: #9ED723;
        border: solid 2px #419D13;
        padding: 5px 60px;
      }
    }
  }
}

#instruction {
  background-color: #E4E4E4;
  color: black;
  .instruction {
    margin: 80px auto;
    .col-md-8 {
      padding-left: 40px;
    }
  }
  h4 {
    font-weight: 600;
    color: black;
  }
  h4, ul, p {
    margin-bottom: 20px;
  }
  .block {

    display: block;
    opacity: 1;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 550ms;
    :hover {
      transform: scale(1.4,1.4);
      transition-timing-function: ease-out;
      transition-duration: 550ms;
    }
  }
}

.footer {
  background-color: #333333;
  color: white;
  font-weight: 600;
  .col-md-6 {
    margin: 30px auto;
  }
  .email {
    text-align: right;
  }
 }